@charset "ISO-8859-1";

.classes {
	width: 500px;
	height: fit-content;
	margin: 20px auto;
}

.row {
	display: flex;
	column-gap: 60px;
	margin-bottom:15px;
}

.cls {
	width: 230px;
	height: 100px;
	background: #4eeb1a;
	border-radius: 15px;
	cursor: pointer;
}

.h3{
	width: fit-content;
    margin: 0 auto;	
}

.cls>h3>a {
	line-height: 100px;
	text-decoration: none;
	font-size:14px;
	width:220px;
	text-align: center;
}

.col {
	background: black;
	border-radius: 5px;
}

.col:haver{
	background:red;
}

.vcol {
	width: 6px;
	height: 60px;
	margin: 20px auto;
}

.hcol {
	width: 80px;
	height: 5px;
	margin: 35px auto;
	position: relative;
	top: -66px;
}

.addclass{
	width:500px;
	height:400px;
	z-index: 10;
	margin:0 auto;
	background: white;
	border:1px solid black;
	box-shadow: 8px 3px 60px;
	border-radius:8px;
	margin-top:20px;
}

.addclasstitle{
	height: 20px;	
}

.closer{
	width:30px;
	text-align: center;
	float:right;
	line-height: 25px;
	cursor: default;	
}

.closer:hover{
	color:red;
	background: gray;
	border-radius:8px;
}

.form>fieldset {
	width: 90%;
	margin: 5px auto;
	border-radius: 10px;
}

.form>fieldset>input {
	width: 98%;
	padding: 3px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-weight: bold;
}

.btns{
	position:relative;
	top:150px;	
	width: 480px;
    margin: 10px;
    text-align: center;
}

.btns>button{
	height: 25px;
	width:75px;
	background: #a3d9eb;
	border-radius: 2px;
}
