/* password block */
/* .password{
    display: none;
 } */

.password>fieldset{
    display: flex;
}

.password>fieldset>input:not(#showhide){
    width: 89%;
}

.password>fieldset>input:not(#pass,#repass){
    width: 10%;
}

.passvalidateindicator{    
    width: 230px;
    margin: auto;
    display: none;
}

.passvalidateindicator>div{
    margin:0 4px;
}